<div id="search" class="irises__search-form  search-form">
  <div class="search-form__inner">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="search-form__field" />
  <svg class="search-form__icon" width="20" height="20" aria-labelledby="title-icon-search" role="img">
    <use xlink:href="#icon-search"></use>
  </svg>
  </div>
    <input type="button" value="{{ button_search }}" id="button-search" class="search-form__button  button  button--search" />
</div>

<section class="irises__alphabet  alphabet">
  <button class="alphabet__toggle" type="button">
    <b class="alphabet__name">Поиск по первой букве</b>
    <span class="alphabet__icon">ABC</span>
  </button>
  <div class="alphabet__inner">
    <ul class="alphabet__list">
      <li class="alphabet__item">
        <a class="alphabet__link" href="{{ back }}&char=a">a</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="{{ back }}&char=b">b</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">c</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">d</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">e</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">f</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">g</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">h</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">i</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">j</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">k</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">l</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">m</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">n</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">o</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">p</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">q</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">r</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">s</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">t</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">u</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">v</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">w</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">x</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">y</a>
      </li>
      <li class="alphabet__item">
        <a class="alphabet__link" href="#">z</a>
      </li>
    </ul>
    <a class="alphabet__reset-button  button  button--alphabet" href="iris-catalog.html">Сбросить</a>
  </div>
</section>