{{ header }}
</header>
<main class="page-content error-not-found" id="content error-not-found">
    {{ content_top }}
  <h2 class="irises__title  title">{{ heading_title }}</h2>
  <section class="irises__catalog  catalog">
    <div class="catalog__list">
      <p>{{ text_error }}</p>
    </div>
  </section>
    {{ content_bottom }}
  <a class="page-content__up-button" href="#">
    <span>&uarr;</span>
    На верх
    <span>&uarr;</span>
  </a>
</main>
{{ footer }}
